@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, .h1 {
    @apply font-rajdhani font-bold text-gray-body;
    font-size: 2rem; /* 32px */
    /* line-height: 2.5rem; 38px */
  }

  h2, .h2 {
    @apply font-sans font-bold text-gray-body;
    font-size: 1rem; /* 16px */
    /* line-height: 1.8125rem; 29px */
  }

  h3, .h3, .body-header {
    @apply font-sans font-semibold text-gray-body;
    font-size: .875rem; /* 14px */
  }

  h4, .h4, .tag-header {
    @apply font-sans font-medium text-gray-body;
    font-size: .75rem; /* 12px */
  }

  p, div, span, .body {
    @apply font-sans font-normal text-gray-body;
    font-size: .875rem; /* 14px */
  }

  .tag {
    @apply font-sans font-normal text-gray-subtext;
    font-size: .75rem; /* 12px */
  }

  .dark {
    @apply text-white;
  }

  .gray {
    @apply text-gray-subtext;

    * {
      @apply text-gray-subtext;
    }
  }

  .gray-italic {
    @apply text-gray-subtext italic;

    * {
      @apply text-gray-subtext;
    }
  }

  input, select {
    @apply p-2 body border border-gray-border rounded-md;
    @apply gray;

    &:focus-visible {
      outline: 0;
    }
  }

  ul {
    list-style: circle;
    list-style-position: inside;
  }

  ol {
    list-style: decimal;
    list-style-position: inside;
  }

  .inline-html p:first-child {
    display: inline;
  }
  
  .inline-html li p {
    display: inline;
  }
  
  .inline-html p:after {
    content :"";
    display: inline-block;
    width: 0px;
  }
  
  .center-xy {
    @apply flex flex-row items-center justify-center;
  }

  /* LAYOUT */
  .page-layout {
    @apply grid gap-y-4;
    grid-template-rows: auto 1fr;
    grid-template-columns: 220px 1fr;
    grid-template-areas:
      "top         top           top"
      "left-header center-header right-header"
      "left        center        right"
      "footer      footer        footer";
  }

  .left-header {
    @apply pl-12 pr-3;
  }

  .center-header {
    @apply pl-3 pr-12;
  }

  .page-center {
    @apply flex flex-col gap-16 relative pl-3 pr-12;
  }

  .section {
    @apply p-4 mt-4 border border-gray-border rounded-md flex flex-col bg-white;
  
    h4 {
      @apply mb-2 mt-4;
    }

    .group-header {
      @apply h2;
      @apply p-2 flex flex-row gap-2 items-center mr-auto rounded-md 
        mt-[-2.25rem] /*-36px*/ mb-[-1rem] bg-white;
    }

    /* This needs to be created under the group header for the margin to be correct */
    .item-count {
      @apply bg-white tag-header p-2 ml-auto mb-[-1rem];
      margin-top: calc(-1.25rem - 1px);
    }

    .section-add-button {
      @apply mx-auto mt-4 mb-[-2rem] bg-white;
    }
  }

  /* could this be auto-added with something like :last-child:after ? */
  .vertical-bar {
    @apply z-[-1] mx-auto border border-gray-border absolute self-center
      my-4;
    height: calc(100% - 2rem);
  }

  .page-link {
    @apply mb-4 cursor-pointer;
  }
  
  .in-page-link {
    @apply py-2 pl-6 cursor-pointer rounded-md flex flex-row items-center;
  
    &.active {
      @apply bg-gray-hover pl-[.375rem];
  
      &::before {
        @apply h-[.875rem] mr-1;
        content: url('/svg/compass.svg');
      }
    }
  
    &.inactive {
      @apply text-gray-hover-active cursor-default;
    }
  }

  .left-sidebar {
    @apply sticky top-[2rem] py-2 pl-12 pr-3;
  }
}
