@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, .h1 {
    @apply font-sans text-xl text-black;
  }

  h2, .h2 {
    @apply font-sans text-lg text-gray-800;
  }

  .body {
    @apply font-sans text-base text-gray-800;
  }

  .subtext {
    @apply font-sans text-sm text-gray-400;
  }

  /* remove below */
  h3, .h3, .body-header {
    @apply font-sans font-semibold text-gray-700;
    font-size: .875rem; /* 14px */
  }

  h4, .h4, .tag-header {
    @apply font-sans font-medium text-gray-700;
    font-size: .75rem; /* 12px */
  }

  svg {
    @apply min-w-[.875rem] w-[.875rem] h-[.875rem];

    &.tag {
      @apply min-w-[.75rem] w-[.75rem] h-[.75rem];
    }
  }

  .icon-header {
    @apply max-w-[1.875rem] max-h-[1.875rem] w-full h-full;
  }

  .icon-menu {
    @apply max-w-[.875rem] max-h-[.875rem] w-full h-full;
  }

  .icon-submenu {
    @apply max-w-[.625rem] max-h-[.625rem] w-full h-full;
  }

  .tag {
    @apply font-sans font-normal text-gray-500;
    font-size: .75rem; /* 12px */
  }

  .dark {
    @apply text-white;
  }

  .gray {
    @apply text-gray-500;

    * {
      @apply text-gray-500;
    }
  }

  .gray-italic {
    @apply text-gray-500 italic;

    * {
      @apply text-gray-500;
    }
  }

  input, select {
    @apply p-2 body border border-gray-200 rounded-md;
    @apply gray;

    &:focus-visible {
      outline: 0;
    }
  }

  ul {
    list-style: circle;
    list-style-position: inside;
  }

  ol {
    list-style: decimal;
    list-style-position: inside;
  }

  .inline-html p:first-child {
    display: inline;
  }
  
  .inline-html li p {
    display: inline;
  }
  
  .inline-html p:after {
    content :"";
    display: inline-block;
    width: 0px;
  }
  
  .center-xy {
    @apply flex flex-row items-center justify-center;
  }

  .dropdown-menu {
    @apply flex flex-col gap-.5 p-1
  }

  .dropdown-item {
    @apply p-[.125rem] text-sm;
    
    &:hover {
      @apply hover:bg-gray-100 hover:px-[.5rem] hover:mx-[-.375rem]
        cursor-pointer;
    }
  }
}
