@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-serif font-bold text-blue-dark;
    font-size: 2rem; /* 32px */
    line-height: 2.5rem; /* 38px */
  }

  h2 {
    @apply font-sans font-semibold text-blue-dark;
    font-size: 1.5rem; /* 24px */
    line-height: 1.8125rem; /* 29px */
  }

  h3 {
    @apply font-sans font-semibold text-blue-dark;
    font-size: 1rem; /* 16px */
    line-height: 1.1875rem; /* 19px */
  }

  p, div, span, .body {
    @apply font-sans font-medium text-blue-dark;
    font-size: .75rem; /* 12px */
    line-height: .9375rem; /* 15px */
  }

  h5 {
    @apply body;
    @apply text-teal-dark;
  }

  .tag {
    @apply font-sans font-medium text-blue-dark;
    font-size: .625rem; /* 10px */
    line-height: .75rem; /* 12px */
  }

  .dark {
    @apply text-white;
  }

  .gray {
    @apply text-gray-text;
  }

  .gray-italic {
    @apply text-gray italic;
  }

  input {
    @apply p-2 body;
    @apply gray;
  }

}
